In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [0]:
# credit_train = pd.read_csv('data/credit_train.csv') # ini dipake waktu di Jupyter Notebook
credit_train = pd.read_csv('./credit_train.csv')

In [12]:
credit_train.head()

                                Loan ID  ... Tax Liens
0  14dd8831-6af5-400b-83ec-68e61888a048  ...       0.0
1  4771cc26-131a-45db-b5aa-537ea4ba5342  ...       0.0
2  4eed4e6a-aa2f-4c91-8651-ce984ee8fb26  ...       0.0
3  77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a  ...       0.0
4  d4062e70-befa-4995-8643-a0de73938182  ...       0.0

[5 rows x 19 columns]

In [13]:
credit_train.describe()

       Current Loan Amount  Credit Score  ...  Bankruptcies     Tax Liens
count         1.672800e+04  13500.000000  ...  16690.000000  16725.000000
mean          1.161191e+07   1095.057333  ...      0.119173      0.028939
std           3.160332e+07   1510.342503  ...      0.349963      0.240832
min           1.124200e+04    586.000000  ...      0.000000      0.000000
25%           1.795640e+05    705.000000  ...      0.000000      0.000000
50%           3.139950e+05    724.000000  ...      0.000000      0.000000
75%           5.234185e+05    741.000000  ...      0.000000      0.000000
max           1.000000e+08   7510.000000  ...      5.000000      6.000000

[8 rows x 12 columns]

In [14]:
credit_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16728 entries, 0 to 16727
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Loan ID                       16728 non-null  object
 1   Customer ID                   16728 non-null  object
 2   Loan Status                   16728 non-null  object
 3   Current Loan Amount           16728 non-null  int64
 4   Term                          16728 non-null  object
 5   Credit Score                  13500 non-null  float64
 6   Annual Income                 13500 non-null  float64
 7   Years in current job          16024 non-null  object
 8   Home Ownership                16728 non-null  object
 9   Purpose                       16728 non-null  object
 10  Monthly Debt                  16728 non-null  float64
 11  Years of Credit History       16728 non-null  float64
 12  Months since last delinquent  7783 non-null   float64
 13  Number of Open Accounts       16727 non-null  float64
 14  Number of Credit Problems     16727 non-null  float64
 15  Current Credit Balance        16727 non-null  float64
 16  Maximum Open Credit           16727 non-null  float64
 17  Bankruptcies                  16690 non-null  float64
 18  Tax Liens                     16725 non-null  float64
dtypes: float64(11), int64(1), object(7)
memory usage: 2.4+ MB

# **PART 1**: Preprocessing Data

In [0]:
y = credit_train["Loan Status"]
x = credit_train.drop("Loan Status", axis=1)

In [0]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [24]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13382 entries, 2188 to 1054
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Loan ID                       13382 non-null  object
 1   Customer ID                   13382 non-null  object
 2   Current Loan Amount           13382 non-null  int64
 3   Term                          13382 non-null  object
 4   Credit Score                  10805 non-null  float64
 5   Annual Income                 10805 non-null  float64
 6   Years in current job          12820 non-null  object
 7   Home Ownership                13382 non-null  object
 8   Purpose                       13382 non-null  object
 9   Monthly Debt                  13382 non-null  float64
 10  Years of Credit History       13382 non-null  float64
 11  Months since last delinquent  6193 non-null   float64
 12  Number of Open Accounts       13382 non-null  float64
 13  Number of Credit Problems     13382 non-null  float64
 14  Current Credit Balance        13382 non-null  float64
 15  Maximum Open Credit           13382 non-null  float64
 16  Bankruptcies                  13355 non-null  float64
 17  Tax Liens                     13380 non-null  float64
dtypes: float64(11), int64(1), object(6)
memory usage: 1.9+ MB

Data yang masih bolong (Incomplete Data) in Train Dataset:
1.   Credit Score
2.   Annual Income
3.   Years in current job
4.   Months since last delinquent
5.   Bankruptcies
6.   Tax Liens

In [25]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3346 entries, 11025 to 9087
Data columns (total 18 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Loan ID                       3346 non-null   object
 1   Customer ID                   3346 non-null   object
 2   Current Loan Amount           3346 non-null   int64
 3   Term                          3346 non-null   object
 4   Credit Score                  2695 non-null   float64
 5   Annual Income                 2695 non-null   float64
 6   Years in current job          3204 non-null   object
 7   Home Ownership                3346 non-null   object
 8   Purpose                       3346 non-null   object
 9   Monthly Debt                  3346 non-null   float64
 10  Years of Credit History       3346 non-null   float64
 11  Months since last delinquent  1590 non-null   float64
 12  Number of Open Accounts       3345 non-null   float64
 13  Number of Credit Problems     3345 non-null   float64
 14  Current Credit Balance        3345 non-null   float64
 15  Maximum Open Credit           3345 non-null   float64
 16  Bankruptcies                  3335 non-null   float64
 17  Tax Liens                     3345 non-null   float64
dtypes: float64(11), int64(1), object(6)
memory usage: 496.7+ KB

Data yang masih bolong (Incomplete Data) in Test Dataset:
1.   Credit Score
2.   Annual Income
3.   Years in current job
4.   Months since last delinquent

In [0]:
# Jadi sekarang kita udah punya 18 Feature yang bisa diengineering, terhadap LOAN STATUS
# Loan ID sama Customer ID kelihatannya gak berpengaruh, jadinya bisa kita buang datanya
x_train = x_train.drop(["Loan ID", "Customer ID"], axis=1)
x_test = x_test.drop(["Loan ID", "Customer ID"], axis=1)

In [0]:
# cek korelasi Current Loan Amount terhadap Loan Status
# fig=plt.figure()
# ax = fig.add_axes([0,0,1,1])
# plt.scatter(x_train['Current Loan Amount'], y_train)
# plt.show()

# **PART 2**: Analisis

# **PART 3**: Tensorflow