In [0]:
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [0]:
credit_train = pd.read_csv('./credit_train.csv')

In [0]:
credit_train.head()

                                Loan ID  ... Tax Liens
0  14dd8831-6af5-400b-83ec-68e61888a048  ...       0.0
1  4771cc26-131a-45db-b5aa-537ea4ba5342  ...       0.0
2  4eed4e6a-aa2f-4c91-8651-ce984ee8fb26  ...       0.0
3  77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a  ...       0.0
4  d4062e70-befa-4995-8643-a0de73938182  ...       0.0

[5 rows x 19 columns]

In [0]:
credit_train.describe()

       Current Loan Amount  Credit Score  ...  Bankruptcies     Tax Liens
count         2.230500e+04  17975.000000  ...  22257.000000  22300.000000
mean          1.169189e+07   1083.806620  ...      0.119783      0.027848
std           3.170032e+07   1488.735985  ...      0.352067      0.242351
min           1.124200e+04    585.000000  ...      0.000000      0.000000
25%           1.797180e+05    705.000000  ...      0.000000      0.000000
50%           3.136980e+05    724.000000  ...      0.000000      0.000000
75%           5.258880e+05    741.000000  ...      0.000000      0.000000
max           1.000000e+08   7510.000000  ...      5.000000     11.000000

[8 rows x 12 columns]

In [0]:
credit_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22305 entries, 0 to 22304
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Loan ID                       22305 non-null  object
 1   Customer ID                   22305 non-null  object
 2   Loan Status                   22305 non-null  object
 3   Current Loan Amount           22305 non-null  int64
 4   Term                          22305 non-null  object
 5   Credit Score                  17975 non-null  float64
 6   Annual Income                 17975 non-null  float64
 7   Years in current job          21364 non-null  object
 8   Home Ownership                22305 non-null  object
 9   Purpose                       22305 non-null  object
 10  Monthly Debt                  22305 non-null  float64
 11  Years of Credit History       22305 non-null  float64
 12  Months since last delinquent  10322 non-null  float64
 13  Number of Open Accounts       22304 non-null  float64
 14  Number of Credit Problems     22304 non-null  float64
 15  Current Credit Balance        22304 non-null  float64
 16  Maximum Open Credit           22304 non-null  float64
 17  Bankruptcies                  22257 non-null  float64
 18  Tax Liens                     22300 non-null  float64
dtypes: float64(11), int64(1), object(7)
memory usage: 3.2+ MB

# **PART 1**: Preprocessing Data